*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(131, 129, 129);
    color: rgb(101, 99, 99);
    font-weight: bold; 
}
#header{
    display: flex;
    font-size: 50px;
    margin: 5% 0 0 10%;
}
#add-button{
    z-index: 1;
    position: absolute;
    left: 80%;
    cursor: pointer;
    color: rgb(99, 223, 139);
}
.extra{
    z-index: 1;
    position: absolute;
    left: 84%;
    cursor: pointer;
    color: black;
}
.color-red{
    color: red;
}
#modal-div{
    display: none;
    position: fixed;
    padding: 20% 0 0 30%;
    top: -10%;
    z-index: 1;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
}
#modal-box{
    border-radius: 7px;
    width: 30vw;
    height: 30vh;
    padding: 30px 0 0px 0px;
    text-align: center;
    color: black;
    background-color: #fff;
    animation: modalPop 0.2s ease-in 0s 1;
}
.big-blue-text{
    color: rgb(181, 54, 54);
    font-size: 25px;
}
.blue-button{
    border-radius: 250px;
    margin-top: 5%;
    color: white;
    background-color: rgb(80, 177, 233);
    font-size: 30px;
    width: 25%;
    height: 20%;
    cursor: pointer;
}
button{
    border: none;
}
#modal-close-button{
    margin-left: 10%;
}
.modal-content{
    margin-top: 3%;
}
.input-box{
    width: 72%;
    height: 20%;
    text-align: center;
    font-size: 18px;
    border-radius: 3px;
}
#outer-container{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10%;
    width: 90%;
}
.card{
    list-style: none;
    display: none;
    position: relative;
    min-height: 350px;
    min-width: 19%;
    text-align: center;
    border-radius: 10px;
    margin: 3% 0 0 5%;
    padding: 10px 0 0 0;
    background: #EEEEEE;
    animation: cardAnimate 0.2s ease-in 0s 1;
}
.card-head{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    font-weight: 500;
    color: #c91b55;
    cursor: pointer;
}
.list-element{
    margin-top: 10%;
    margin-bottom: 10%;
}
.buttons-in-card{
    display: flex;
    font-size: 30px;
}
#empty-list{

    position: relative;
    top: 10vh;
    margin-left: 10vw;
    color: rgb(37, 215, 228);
    font-size: 45px;
    font-weight: 800;
}
#back-icon{
    z-index: 20;
    font-size: 40px;   
    color: red;
    cursor: pointer;
}
#card-dynamic-head{
    justify-content: center;
    font-size: 55px;
    font-weight: 700;
    color: red;
    display: none;
}